@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

@media(min-width: 720px) {
  .overlay {
    min-height: 100vh;
    margin-bottom: -140px;
    width: 100%;
    height: 100%;
    display: flex;
    background: lightgrey;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: lightgray;
    border-radius: 1;
    border: solid;

    width: 40em;
    height: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    border-color: #8A2BE2;
  }

  .card__title {
    font-size: medium;
    text-transform: uppercase;
    color: blanchedalmond;
  }

  .card__header {
    width: 100%;
    background-color: #8A2BE2;
    text-align: center;
    justify-content: center;
  }

  .line {
    border-bottom: 3px solid black;
    margin-top: 15px;
    width: 35%;
  }

  .card__name {
    margin-top: 15px;
    font-size: 1.5em;
  }

  .container__image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .card__image {
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  .card__image:hover {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
  }


  .btn {
    background: blue;
    border: white;
    cursor: pointer;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    color: white;
    margin: 1em;

  }

  .skin_color {
    padding: 0;
    list-style: none;
    margin: 1em;
  }

  .skin_color li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
  }

  p {
    font-weight: bold;
  }

  .skin_color .color:hover {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
  }

}

@media only screen and (max-width:720px) {
  .overlay {
    min-height: 100vh;
    margin-bottom: -140px;
    width: 100%;
    height: 100%;
    display: flex;
    background: lightgrey;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: lightgray;
    border-radius: 1;
    border: solid;

    width: 40vh;
    height: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    border-color: #8A2BE2;
  }

  .card__title {
    font-size: medium;
    text-transform: uppercase;
    color: blanchedalmond;
  }

  .card__header {
    width: 100%;
    background-color: #8A2BE2;
    text-align: center;
    justify-content: center;
  }

  .line {
    border-bottom: 3px solid black;
    margin-top: 15px;
    width: 35%;
  }

  .card__name {
    margin-top: 15px;
    font-size: 1.5em;
  }

  .container__image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .card__image {

    height: 50%;
    width: 50%;
    border-radius: 50%;
  }

  .card__image:hover {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
  }


  .btn {
    background: blue;
    border: white;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    color: white;
    margin: 1em;
    width: 30%;

  }




  .skin_color {
    padding: 0;
    list-style: none;
    margin: 1em;
  }

  .skin_color li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
  }


  p {
    font-weight: bold;

  }

  .skin_color .color:hover {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
  }



}